
body.home-body{
    margin:0px;
    padding:0px;
    width:100%;
    background: url("../img/bgcontent.png"); 
    background-size:     cover;                   
    background-repeat:   no-repeat;
    background-position: center center; 
}
.text-name-project{
    width: 100%;
    text-align: center;
    font-size: 19px;
    margin-top: 12px;
    position: relative;

}

.set-color-number{
    width: 100%;
    text-align: left;
    padding-left: 12px;
}