body.newlabor-body{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0px;
    margin: 0px;
    padding-top: 160px;
    box-sizing: border-box;
    background: url("../img/bgcontent.png"); 
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    overflow-y: auto;
}
.header {
    font-size: 22px;
    z-index: 3;
    position: relative;
    text-align: left;
}.color_blue {
    color: #2E3340;
}
.floatleft_box {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    height: 40px;
}
.floatleft_box2{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    height: 240px;
}
.register-input-box{
    /* height: 44px; */
}
.each-sun-box{
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    float: left;
    margin-right: 12px;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color:#eee;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.next-btn{
    width: 100%;
    height: 44px;
    position: relative;
    box-sizing: border-box;
    background-color: #2E3340;
    color: white;
    margin-bottom: 24px;
    margin-top: 12px;
}
select{
    background-color: white;
    border: none;
    width: 50px;
    padding-left: 6px;
    font-size: 16px;
    margin-left: 12px;
    position: relative;
    box-sizing: border-box;
}
.number-sun{
    width: 100%;
    height: 40px;;
    float: left;
    font-size: 18px;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    z-index: 1;
    margin-bottom: 12px;
}
.sun-text{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    height: 30px;
    font-size: 18px;
    text-align: left;
}

.register-input-labor-text{
    width: 100%;
    text-align: left;
    font-size: 18px;
    position: relative;
    box-sizing: border-box;
   
}

#customers {
    border-collapse: collapse;
   width: 100%;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 24px;
}
.customers2{
    border-collapse: collapse;
    width: 100%;
     position: relative;
     box-sizing: border-box;
     background-color: white;
     margin-top: 24px;
     text-align: left;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    position: relative;
}



#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:none;
    color: black;
}
.date-vacine{
    width: 70px;
    position: relative;
    box-sizing: border-box;
    border: none;
    height: 30px;
    border-radius: 6px;
    padding-left: 12px;
}
.input-school{
    width: 100%;
    height: 100%;
    position: relative;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    border: none;
    box-sizing: border-box;

}
.input-school2{
    /* width: 100%; */
    height: 40px;
    position: relative;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
  margin-bottom: 24px;
  padding-left: 12px;
    box-sizing: border-box;
}
.input-school3{
     width: calc(100% - 90px);
     height: 40px;
     position: relative;
     border: none;
     border-bottom: 1px solid black;
     background-color: transparent;
   margin-bottom: 24px;
   padding-left: 12px;
     box-sizing: border-box;
     /* float: left; */
     margin-left: 40px;
     font-size: 16px;
}
.other-input{
    /* height: 44px; */
    width: 100%;
    position: relative;
    border-bottom: 1px solid black;
     background-color: transparent;
    border: none;
    margin-bottom: 48px;
}
.other-school{
    width: 100%;
    /* height: 44px; */
    position: relative;
    border: none;
    border-bottom: 1px solid black;
     background-color: transparent;
   
}
.other-input2{
    height: 44px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid black;
    background-color: red;
    /* margin-bottom: 48px; */
    z-index: 10;
}
.height-container{
    height: 60px;
}
.input-grade{
    font-size: 20px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    
    width: 100%;
}
.search-box{
    width: 90%;
    margin: 0 auto;
    height: 40px;
    position: relative;
    box-sizing: border-box;
    /* padding-right: 20px; */
   
}
.search-form{
    width: 100%;
    height: 100%;
    text-align: left;
    border: 1px solid #707070;
    background-color: white;
    border-radius: 6px;
    padding-right: 24px;
    box-sizing: border-box;
    padding-left: 12px;
}
.img-search{
    position: absolute;
    width: 18px;
    right: 6px;
    top: 12px;
}
.img-profile{
    width: 18px;
    position: absolute;
    right: 6px;
    top: 8px;
}

.set-width-nextbtn{
    width: calc(100% - 24px);
    margin-left: 12px;
}
.info-head{
    width: 50%;
    float: left;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    box-sizing: border-box;
}
.info-content{
    font-size: 18px;
    font-weight: normal;
    position: relative;
    box-sizing: border-box;

}
.info-head2{
    width: 100%;
    float: left;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    box-sizing: border-box;
}
.each-info{
    width: 100%;
    height: 44px;;
    position: relative;
    box-sizing: border-box;
}
.btn-content-box{
    width: 100%;
    height: 40px;
    position: relative;
    box-sizing: border-box;
}
.each-content-btn-info{
    width: 45%;
    height: 40px;
    float: left;
    position: relative;
    /* border-radius: 6px; */
    box-sizing: border-box;
    background-color: #2E3340;
    color: white;
    font-size: 18px;
}
.margin-right{
    margin-right: 10%;
}
.number-labor{
    width: 10%;
}
.number-follow-each{
    width: 30%;
}