body.newlabor-body{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: url("../img/bgcontent.png"); 
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    overflow-y: auto;
}
.header {
    font-size: 22px;
    z-index: 3;
    position: relative;
    text-align: left;
}.color_blue {
    color: #2E3340;
}
.floatleft_box {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    height: 40px;
}
.register-input-box{
    /* height: 44px; */
}
.each-sun-box{
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    float: left;
    margin-right: 12px;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color:#eee;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.next-btn{
    width: 100%;
    height: 44px;
    position: relative;
    box-sizing: border-box;
    background-color: #2E3340;
    color: white;
    margin-bottom: 24px;
    margin-top: 12px;
}
select{
    background-color: white;
    border: none;
    width: 50px;
    padding-left: 6px;
    font-size: 16px;
    margin-left: 12px;
    position: relative;
    box-sizing: border-box;
}
.number-sun{
    width: 100%;
    height: 40px;;
    float: left;
    font-size: 18px;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    z-index: 1;
    margin-bottom: 12px;
}
.sun-text{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    height: 30px;
    font-size: 18px;
    text-align: left;
}

.register-input-labor-text{
    width: 100%;
    text-align: left;
    font-size: 18px;
    position: relative;
    box-sizing: border-box;
   
}

#customers {
    border-collapse: collapse;
   width: 100%;
    position: relative;
    box-sizing: border-box;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}



#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:none;
    color: black;
}
.date-vacine{
    width: 70px;
    position: relative;
    box-sizing: border-box;
    border: none;
    height: 30px;
    border-radius: 6px;
    padding-left: 12px;
}
.input-school{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: none !important;
    box-sizing: border-box;
}
.other-input{
    height: 44px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid black;
    background-color: red;
    margin-bottom: 48px;
}